.wrapStuff{
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-left: 40px; */
    width: 80%;
    /* gap: 30px; */
    height: 100%;
    /* position: relative;
    overflow: hidden !important;
    width: 80%; */
}

