/* .wrapStuff{
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;

} */
.slideWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  height: 100%; /* Helps center vertically too */
}
.wrapStuff {
  background-color: yellow;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; /* take full width of the slide */
  height: 100%;
}

.sliderr{
  background-color: aqua;
  margin: 0;
  padding: 0;
}
